/* ------------------------
 * WiiM Now Playing styling
 */

/* WiiM Now Playing App */
#wnpApp {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background: rgb(1, 12, 18);
    background: linear-gradient(0deg, rgba(1, 12, 18, 1) 0%, rgba(3, 53, 54, 1) 50%, rgba(40, 67, 74, 1) 100%);
    color: #fff;
}

#wnpApp .text-secondary {
    color: rgba(179, 189, 186, 1) !important;
}

/* Layout - CSS Grid */
/* Landscape mode */
.wnpContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 110px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "wnpAlbumArt wnpMediaInfo"
        "wnpFooter wnpFooter";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* CSS Grid areas */
.wnpAlbumArt {
    grid-area: wnpAlbumArt;
    padding: 30px;
    text-align: center;
    overflow: hidden;
}

.wnpMediaInfo {
    grid-area: wnpMediaInfo;
    padding: 30px 30px 30px 0;
}

.wnpFooter {
    grid-area: wnpFooter;
    padding: 0 30px;
}

/* Background Album Art */
#wnpBgAlbumArt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bgAlbumArtBlur {
    height: 100%;
    /* Center and scale the image nicely */
    background-image: url("../img/fake-album-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Add the blur effect */
    filter: blur(12px) brightness(.6) opacity(0.6);
    /* Zoom in */
    transform: scale(1.25);
}

/* Album Art */
#albumArt {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, .75);
}

/* Media info */
.wnpMediaInfo {
    text-shadow: 3px 3px 8px rgba(0, 0, 0, .75);
}

#mediaSource {
    text-align: center;
}

#mediaSource img {
    max-height: 16px;
    margin-bottom: 15px;
    filter: invert(1);
}

#mediaQualityIdent.badge-outlined {
    border: 1px solid rgba(179, 189, 186, 1);
    font-weight: var(--bs-body-font-weight);
    margin-right: 10px;
}

/* Footer */
.wnpFooter #progressPercent {
    --bs-bg-opacity: .5;
}

.wnpFooter .btn-group {
    margin-top: 5px;
}

.wnpFooter .btn-group button {
    border: none;
}

.wnpFooter .btn-group button:hover,
.wnpFooter .btn-group button:active {
    background-color: transparent;
    color: var(--bs-btn-color);
}

#btnPlay {
    font-size: 2.25rem;
}

#btnPrev,
#btnNext {
    font-size: 1.75rem;
}

#devNameHolder {
    position: absolute;
    left: 30px;
    bottom: 15px;
}

#devVolumeHolder {
    position: absolute;
    right: 30px;
    bottom: 15px;
    text-align: right;
}

#wnpSettings {
    position: absolute;
    top: 5px;
    right: 15px;
    border: none;
}

/* Modals */
.modal {
    color: #000;
}

/* Layout - CSS Grid */
/* Portrait mode */
@media screen and (max-width:500px) {

    .wnpContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 140px;
        gap: 0px 0px;
        grid-template-areas:
            "wnpAlbumArt"
            "wnpMediaInfo"
            "wnpFooter";
    }

    .wnpMediaInfo {
        padding: 0 30px;
    }

}