/* ------------------------
 * Resolution testing

/* WiiM Now Playing App */
#wnpApp {

    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;

    // ===============================
    // Default styling - mobile first strategy
    .wnpContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.2fr .8fr 100px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "wnpAlbumArt"
            "wnpMediaInfo"
            "wnpFooter";

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        background-color: #ccc;

    }

    .wnpAlbumArt {
        grid-area: wnpAlbumArt;

        padding: 16px;
        text-align: center;
        overflow: hidden;

        >div {
            height: 100%;
            background-color: #fff;
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
        }

        img {
            // min-width: 100%;
            // min-height: 100%;
            // max-width: 100%;
            // max-height: 100%;
            width: 100%;
        }
    }

    .wnpMediaInfo {
        grid-area: wnpMediaInfo;

        padding: 0 16px 16px 16px;

        >div {
            height: 100%;
            background-color: #fff;
        }
    }

    .wnpFooter {
        grid-area: wnpFooter;

        padding: 0 16px 16px 16px;

        >div {
            height: 100%;
            background-color: #fff;
        }
    }

    // ===============================
    // Responsive layout changes

    // RPi landscape and small tablets, and larger...
    @media (min-width: 576px) {

        .wnpContainer {
            // display: grid;
            grid-template-columns: .9fr 1.1fr;
            grid-template-rows: 1fr 100px;
            // gap: 0px 0px;
            // grid-auto-flow: row;
            grid-template-areas:
                "wnpAlbumArt wnpMediaInfo"
                "wnpFooter wnpFooter";
        }

        .wnpMediaInfo {
            padding: 16px 16px 16px 0;
        }

        // .wnpAlbumArt {
        //     padding: 16px;
        // }

        // .wnpFooter {
        //     padding: 0 16px 16px 16px;
        // }

    }

    // Small desktops and large tablets, and larger...
    @media (min-width: 992px) {

        .wnpContainer {
            grid-template-columns: 1fr 1fr;
        }

        .wnpMediaInfo {
            padding: 24px 24px 24px 0;
        }

        .wnpAlbumArt {
            padding: 24px;
        }

        .wnpFooter {
            padding: 0 24px 24px 24px;
        }

    }

    // Desktop browsers and large tablets, and larger...
    @media (min-width: 1200px) {

        .wnpContainer {
            grid-template-columns: 1.2fr .8fr;
        }

        .wnpMediaInfo {
            padding: 32px 32px 32px 0;
        }

        .wnpAlbumArt {
            padding: 32px;
        }

        .wnpFooter {
            padding: 0 32px 32px 32px;
        }

    }

    // 1440p devices (larger desktops, 1400px and up)
    @media (min-width: 2560px) {

        .wnpMediaInfo {
            padding: 48px 48px 48px 0;
        }

        .wnpAlbumArt {
            padding: 48px;
        }

        .wnpFooter {
            padding: 0 48px 48px 48px;
        }

    }

}

#wnpMedia {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ccc;
    background-color: rgba(238, 238, 238, .75);
    padding: 5px;

    @media screen and (min-width: 576px) {
        .bp-xs {
            color: #0c0;
        }
    }

    // Bootstrap responsive breakpoints: https://getbootstrap.com/docs/5.0/layout/breakpoints/
    // X-Small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap
    .bp-xs {
        color: #0c0;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        .bp-sm {
            color: #0c0;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .bp-md {
            color: #0c0;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .bp-lg {
            color: #0c0;
        }
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .bp-xl {
            color: #0c0;
        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        .bp-xxl {
            color: #0c0;
        }
    }

    // 1080p devices (larger desktops, 1400px and up)
    @media (min-width: 1920px) {
        .bp-1080 {
            color: #0c0;
        }
    }

    // 1440p devices (larger desktops, 1400px and up)
    @media (min-width: 2560px) {
        .bp-1440 {
            color: #0c0;
        }
    }

    // 4K devices (larger desktops, 1400px and up)
    @media (min-width: 3840px) {
        .bp-4k {
            color: #0c0;
        }
    }

    // Pixel ratio 1 (True one-on-one screens i.e. desktop monitors)
    @media screen and (-webkit-min-device-pixel-ratio: 1),
    screen and (-moz-min-device-pixel-ratio: 1),
    screen and (-o-min-device-pixel-ratio: 1),
    screen and (min-device-pixel-ratio: 1) {
        font-size: 1rem;

        .bp-p1 {
            color: #0c0;
        }
    }

    // Pixel ratio 2 (Highres small screens i.e. iPad tablets)
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-moz-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2) {
        font-size: 1.2rem;

        .bp-p2 {
            color: #0c0;
        }
    }

    // Pixel ratio 3 (Highres screens i.e. iPhones)
    @media screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-moz-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3),
    screen and (min-device-pixel-ratio: 3) {
        font-size: 1.3rem;

        .bp-p3 {
            color: #0c0;
        }
    }

    // Pixel ratio 4 (Very highres screens i.e. 4K tv)
    @media screen and (-webkit-min-device-pixel-ratio: 4),
    screen and (-moz-min-device-pixel-ratio: 4),
    screen and (-o-min-device-pixel-ratio: 4),
    screen and (min-device-pixel-ratio: 4) {
        font-size: 1.4rem;

        .bp-p4 {
            color: #0c0;
        }
    }

}