/* ------------------------
 * WiiM Now Playing styling (SCSS)
 */

/* WiiM Now Playing App */
#wnpApp {

    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background: rgb(1, 12, 18);
    background: linear-gradient(0deg, rgba(1, 12, 18, 1) 0%, rgba(3, 53, 54, 1) 50%, rgba(40, 67, 74, 1) 100%);

    .text-secondary {
        color: rgba(179, 189, 186, 1) !important;
    }

    /* Layout - CSS Grid */
    /* Landscape mode */
    .wnpContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 110px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "wnpAlbumArt wnpMediaInfo"
            "wnpFooter wnpFooter";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: #fff;
    }

    /* CSS Grid areas */
    .wnpAlbumArt {
        grid-area: wnpAlbumArt;
        padding: 30px;
        text-align: center;
        overflow: hidden;
    }

    .wnpMediaInfo {
        grid-area: wnpMediaInfo;
        padding: 30px 30px 30px 0;
    }

    .wnpFooter {
        grid-area: wnpFooter;
        padding: 0 30px;
    }

    /* Layout - CSS Grid */
    /* Portrait mode, low resolution */
    @media screen and (max-width:500px) {

        .wnpContainer {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr 140px;
            gap: 0px 0px;
            grid-template-areas:
                "wnpAlbumArt"
                "wnpMediaInfo"
                "wnpFooter";
        }

        .wnpMediaInfo {
            padding: 0 30px;
        }

    }

    /* Background Album Art */
    #wnpBgAlbumArt {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        #bgAlbumArtBlur {
            height: 100%;
            /* Center and scale the image nicely */
            background-image: url("../img/fake-album-1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* Add the blur effect */
            filter: blur(12px) brightness(.6) opacity(0.6);
            /* Zoom in */
            transform: scale(1.25);
        }

    }

    /* Album Art */
    .wnpAlbumArt {

        #albumArt {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            box-shadow: 3px 3px 16px rgba(0, 0, 0, .75);
        }

    }

    /* Media info */
    .wnpMediaInfo {

        text-shadow: 3px 3px 8px rgba(0, 0, 0, .75);

        // Media Source Ident
        #mediaSource {
            text-align: center;

            img {
                max-height: 16px;
                margin-bottom: 15px;
                filter: invert(1);
            }

        }

        // Media Album and Quality Ident
        #mediaAlbumIdent,
        #mediaQualityIdent {

            &.badge-outlined {
                border: 1px solid rgba(118, 125, 123, 1);
                font-weight: var(--bs-body-font-weight);
                margin-right: 10px;
            }

        }

    }

    /* Footer */
    .wnpFooter {

        #progressPercent {
            height: 2px;
            --bs-bg-opacity: .5;
        }

        .btn-group.primary {
            margin-top: 5px;

            button {
                border: none;
            }

            button:hover,
            button:active {
                background-color: transparent;
                color: var(--bs-btn-color);
            }

            #btnPlay {
                font-size: 2.25rem;
            }

            #btnPrev,
            #btnNext {
                font-size: 1.75rem;
            }
        }

        .btn-group.secondary {
            position: absolute;
            top: 5px;
            right: 15px;

            button {
                border: none;
                padding: 6px;
            }

            button:hover,
            button:active {
                background-color: transparent;
                color: var(--bs-btn-color);
            }

            // #wnpSettings {
            //     position: absolute;
            //     top: 5px;
            //     right: 15px;
            //     border: none;
            // }

            #wnpFullscreen {
                display: block;
            }

            #wnpFullscreenExit {
                display: none;
            }

        }

        #devNameHolder {
            position: absolute;
            left: 30px;
            bottom: 15px;
        }

        #devVolumeHolder {
            position: absolute;
            right: 30px;
            bottom: 15px;
            text-align: right;
        }

    }

    // In case of fullscreen/highres mode, toggle the fullscreen buttons
    // TODO: rework to media query (1440p and up), remove fullscreen buttons...
    &.fullscreen {

        font-size: 1.5rem;

        h2 {
            font-size: 3rem;
        }

        /* Layout - CSS Grid */
        /* Landscape mode */
        .wnpContainer {
            grid-template-columns: 1.2fr 0.8fr;
            grid-template-rows: 1fr 120px;
        }

        /* CSS Grid areas */
        .wnpAlbumArt {
            padding: 45px;
        }

        .wnpMediaInfo {
            padding: 45px 45px 45px 0;
        }

        .wnpFooter {
            padding: 0 45px;
        }

        /* Album Art Fullscreen */
        .wnpAlbumArt {

            #albumArt {
                object-fit: fill;
                width: 100%;
            }

        }

        /* Media info Fullscreen */
        .wnpMediaInfo {

            // Media Source Ident
            #mediaSource {

                img {
                    max-height: 48px;
                    margin-bottom: 30px;
                }

            }

        }

        /* Footer Fullscreen */
        .wnpFooter {

            #progressPercent {
                height: 5px;
            }

            .btn-group.secondary {

                #wnpFullscreen {
                    display: none;
                }

                #wnpFullscreenExit {
                    display: block;
                }

            }

            #devNameHolder {
                left: 45px;
                bottom: 20px;
            }

            #devVolumeHolder {
                right: 45px;
                bottom: 20px;
            }

        }
    }

}

#wnpMedia {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #ccc;
    background-color: rgba(238, 238, 238, .5);
    padding: 5px;

    @media screen and (min-width: 576px) {
        .bp-xs {
            color: #0c0;
        }
    }

    // Bootstrap responsive breakpoints: https://getbootstrap.com/docs/5.0/layout/breakpoints/
    // X-Small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap
    .bp-xs {
        color: #0c0;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        .bp-sm {
            color: #0c0;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .bp-md {
            color: #0c0;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .bp-lg {
            color: #0c0;
        }
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .bp-xl {
            color: #0c0;
        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        .bp-xxl {
            color: #0c0;
        }
    }

    // 1080p devices (larger desktops, 1400px and up)
    @media (min-width: 1920px) {
        .bp-1080 {
            color: #0c0;
        }
    }

    // 1440p devices (larger desktops, 1400px and up)
    @media (min-width: 2560px) {
        .bp-1440 {
            color: #0c0;
        }
    }

    // 4K devices (larger desktops, 1400px and up)
    @media (min-width: 3840px) {
        .bp-4k {
            color: #0c0;
        }
    }

    // Pixel ratio 1 (True one-on-one screens i.e. desktop monitors)
    @media screen and (-webkit-min-device-pixel-ratio: 1),
    screen and (max-width: 639px) and (-moz-min-device-pixel-ratio: 1),
    screen and (max-width: 639px) and (-o-min-device-pixel-ratio: 1),
    screen and (max-width: 639px) and (min-device-pixel-ratio: 1) {
        .bp-p1 {
            color: #0c0;
        }
    }

    // Pixel ratio 2 (Highres small screens i.e. iPad tablets)
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (max-width: 639px) and (-moz-min-device-pixel-ratio: 2),
    screen and (max-width: 639px) and (-o-min-device-pixel-ratio: 2),
    screen and (max-width: 639px) and (min-device-pixel-ratio: 2) {
        .bp-p2 {
            color: #0c0;
        }
    }

    // Pixel ratio 3 (Highres screens i.e. iPhones)
    @media screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (max-width: 639px) and (-moz-min-device-pixel-ratio: 3),
    screen and (max-width: 639px) and (-o-min-device-pixel-ratio: 3),
    screen and (max-width: 639px) and (min-device-pixel-ratio: 3) {
        .bp-p3 {
            color: #0c0;
        }
    }

    // Pixel ratio 4 (Very highres screens i.e. 4K tv)
    @media screen and (-webkit-min-device-pixel-ratio: 4),
    screen and (max-width: 639px) and (-moz-min-device-pixel-ratio: 4),
    screen and (max-width: 639px) and (-o-min-device-pixel-ratio: 4),
    screen and (max-width: 639px) and (min-device-pixel-ratio: 4) {
        .bp-p4 {
            color: #0c0;
        }
    }

}